USE [master]
GO
/****** Object:  Database [CompanyInformation]    Script Date: 21.12.2022 01:35:52 ******/
CREATE DATABASE [CompanyInformation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompanyInformation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CompanyInformation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompanyInformation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CompanyInformation_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CompanyInformation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CompanyInformation]
GO
/****** Object:  Table [dbo].[Attacks]    Script Date: 21.12.2022 01:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attacks](
	[AttackID] [varchar](5) NOT NULL,
	[CompanyName] [varchar](50) NULL,
	[AttackResult] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 21.12.2022 01:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyIDNumber] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[CompanyEstablishmentDate] [date] NOT NULL,
	[CompanyCountry] [varchar](50) NOT NULL,
	[CompanyCity] [varchar](50) NOT NULL,
	[CompanyPhone] [varchar](50) NOT NULL,
	[CompanyEmail] [varchar](255) NOT NULL,
	[CompanyType] [varchar](50) NULL,
 CONSTRAINT [PK_Companyy] PRIMARY KEY CLUSTERED 
(
	[CompanyEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complaint]    Script Date: 21.12.2022 01:35:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaint](
	[Email] [varchar](255) NOT NULL,
	[Message] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
